MDS-de-project-ADF/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "MDS-de-project-ADF"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/MDS-de-project-DataPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Populate DWH_Level1",
						"description": "",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Extract Data_Level3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Populate_DWH_level1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingLocation": {},
									"StagingProduct": {},
									"DWHLocation1": {},
									"DWHProduct": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true
						}
					},
					{
						"name": "Populate DimTable",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Populate DWH_Level3",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Populate_DimTable",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingLocation": {},
									"DWHLocation": {},
									"StagingWarehouse": {},
									"DWHWarehouse": {},
									"StagingProduct": {},
									"DWHProduct": {},
									"ExistingDimProduct": {},
									"DimLocation": {},
									"DimWarehouse": {},
									"DimProduct": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true
						}
					},
					{
						"name": "Populate FactTable",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Populate DimTable",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Populate_FactTable",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DimLocation": {},
									"DimWarehouse": {},
									"DimProduct": {},
									"DWHSupplier": {},
									"DWHWarehouse": {},
									"StagingImport": {},
									"DWHImport": {},
									"StagingExport": {},
									"DWHExport": {},
									"DWHStorage": {},
									"DWHCustomer": {},
									"FactImport": {},
									"FactExport": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true
						}
					},
					{
						"name": "Extract Data_Level1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Extract_Raw_To_Staging_level1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"RawCustomer": {},
									"RawWarehouse": {},
									"RawSupplier": {},
									"RawProduct": {},
									"StagingLocation": {},
									"StagingProduct": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true
						}
					},
					{
						"name": "Populate DWH_Level2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Populate DWH_Level1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Populate_DWH_level2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingCustomer": {},
									"StagingSupplier": {},
									"DWHLocation": {},
									"StagingWarehouse": {},
									"DWHCustomer": {},
									"DWHSupplier": {},
									"DWHWarehouse": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Populate DWH_Level3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Populate DWH_Level2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Populate_DWH_level3",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"StagingStorage": {},
									"StagingImport": {},
									"StagingExport": {},
									"DWHWarehouse": {},
									"DWHProduct": {},
									"DWHSupplier": {},
									"DWHCustomer": {},
									"DWHStorage": {},
									"DWHImport": {},
									"DWHExport": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "Extract Data_Level2",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Extract Data_Level1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Extract_Raw_To_Staging_level2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"RawCustomer": {},
									"RawWarehouse": {},
									"RawSupplier": {},
									"StagingLocation": {},
									"StagingCustomer": {},
									"StagingWarehouse": {},
									"StagingSupplier": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true
						}
					},
					{
						"name": "Extract Data_Level3",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Extract Data_Level2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 1,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "Extract_Raw_To_Staging_level3",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"RawProduct": {},
									"RawExport": {},
									"RawImport": {},
									"StagingWarehouse": {},
									"StagingProduct": {},
									"StagingCustomer": {},
									"StagingSupplier": {},
									"StagingStorage": {},
									"StagingExport": {},
									"StagingImport": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine",
							"runConcurrently": true
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": [],
				"lastPublishTime": "2023-03-18T12:19:06Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DailyBuild')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"runtimeState": "Stopped",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "MDS-de-project-DataPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Hour",
						"interval": 24,
						"startTime": "2023-03-18T00:00:00",
						"timeZone": "SE Asia Standard Time"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/MDS-de-project-DataPipeline')]"
			]
		}
	]
}